
<%= name %>
<%= link_to 'Logout',logout_path %>
<p>You have  <%=link_to pending_invitations,event_attendees_path(pending_event[:id]) %> pending inivtiantions</p>
<% @user.events.all.each do |event| %>
<div class="card mb-2">
<div class="card-body">
<h4><%= event.title %></h4>
<strong><%= event.date %></strong>
</div>
</div>
<% end %>
