<% single_invitation.each do |x| %>
<h6 class="d-inline"><%= event_creator(x.user_id) %></h6>
 is inviting your for
<%= x.title %>
on
 <%= x.date %>
 <div class="d-flex">
     
<%= button_to 'accept', accept_path(x.id), class:"btn btn-primary" %>
<%= button_tag 'Decline',event_attendee_path(x), method: :delete %> 
 </div><br />
<% end %>

