<div class="jumbotron">
    <div class="row">
        <div class="col">
            <h3>Your Events</h3>
            <h6>
                <span class="badge badge-pill badge-primary">Upcoming</span>
            </h6>
            <% if !upcoming_events.empty? %>
                <%= render partial: 'event', collection: upcoming_events %>
            <% else %>
                <%= render 'noevent' %>
            <% end %>
            <h6>
                <span class="badge badge-pill badge-warning">Previous</span>
            </h6>
            <% if !prev_events.empty? %>
            <%= render partial: 'event', collection: prev_events %>
            <% else %>
                <%= render 'noevent' %>
            <% end %>
        </div>
        <div class="col">
            <h3>Invited Events</h3>
            <h6>
                <span class="badge badge-pill badge-primary">Upcoming</span>
            </h6>
            <% if !upcoming_accepted_events.empty? %>
            <%= render partial: 'event', collection: upcoming_accepted_events %>
            <% else %>
                <%= render 'noevent' %>
            <% end %>
            <h6>
                <span class="badge badge-pill badge-warning">Previous</span>
            </h6>
            <% if !prev_accepted_events.empty? %>
                <%= render partial: 'event', collection: prev_accepted_events %>
            <% else %>
                <%= render 'noevent' %>
            <% end %>
        </div>
    </div>
</div>