<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="background: #986fc8 !important;">

  <%= link_to 'EventBrite', home_path, class:"my-0 mr-md-auto font-weight-normal", style:"font-size:28px" %>


  <% if logged_in? %>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= link_to 'Home', home_path, class:"p-2" %>
    <%= link_to 'Create Events', new_event_path, class:"p-2" %>
    <%= link_to 'Events', events_path, class:"p-2" %>
   <%= link_to invitations_path, class:"p-2" do %>
    Invitations
    <% if pending_invitations_u.count > 0 %>
    <sup class="badge badge-primary"><%= pending_invitations_u.count %></sup>
    <% end %>
    
   <% end %>
  </nav>
  
  
    <%= link_to 'Logout', logout_path, class:"btn btn-outline-warning" %>
  <% else %>
    <%= link_to 'Sign in', login_path, class:"btn btn-outline-primary" %>
  <% end %>
  
</div>